  <!-- Begin Header -->
  <div class="mod-header">
    <a href="/" % style="line-height: 100px;"><< Home page</a>
      <h1 class="logo-text">
        <a href="/" title="The Flatiron School">
          <img src="/img/the-flatiron-school-logo-sm-black.png" class="logo">
        </a>
      </h1>
  </div>
    <!-- End Header -->

<body id="scroll-header" class="home page students">



<h1><%= @student.name %></h1>


<ul>
  <li><%= @student.name %></li>
  <li><%= @student.tagline %></li>
  <li><%= @student.bio %></li>
  <li><%= @student.treehouse_profile %></li>

</ul>